
 body
    {
        background-color:#575759;
       }

    h1
    {
        font-family:Trebuchet MS,Verdana;
        font-size:30px;
        color:#5CDBF5;
        text-align:center;
    }

 .txtbox
        {
           border-radius: 20px;
        }
.batton { border-radius:20px;
}

.johi {
}

.rakib {
}